<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <img width="300" alt="Ngrx Logo" src="../assets/ngrx-logo.png">
</div>

<div style="text-align:center">
  <h1>
    Counter Example
  </h1>
</div>
<div class="flex center">
  <app-numeric-counter></app-numeric-counter>
</div>

<div style="text-align:center">
  <h1>
    TodoList Example
  </h1>
</div>
<div class="flex center">
  <app-todo-list></app-todo-list>
</div>